/models/Accurate-Interpretable-VAD/data/*/
/models/S3R/data/shanghaitech/i3d/*/
/models/S3R/data/ucf-crime/i3d/*/
*.pyc
*.tar.gz
__pycache__/
*.png
*.jpg
*.gif
*.pkl
*.tar
models/Accurate-Interpretable-VAD/utils/preprocess_utils/flownet_networks/channelnorm_package/*/
models/Accurate-Interpretable-VAD/utils/preprocess_utils/flownet_networks/correlation_package/*/
models/Accurate-Interpretable-VAD/utils/preprocess_utils/flownet_networks/resample2d_package/*/
models/S3R/extracted_data/
models/S3R/__MACOSX/
*.zip
*.pth